body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #FFF6EC;
    display: flex;
    flex-direction: column;
    font-family: 'NanumSquareBold';
    color: #3C3D69; /* 글씨체 색상 설정 */
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 10px;
    box-sizing: border-box;
}

:root {
    --min-padding: 20px;
    --padding-percentage: 2%;
}


/* 앱 상단바 */
.app_bar {
    position: relative; /* 부모 요소를 상대적으로 위치시킴 */
    height: 8vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between; /* 아이템들을 양쪽 끝으로 배치 */
    align-items: center;
    padding-left: calc(var(--padding-percentage) + var(--min-padding)); /* 왼쪽 패딩을 부모 너비의 2% + 최소 20px */
    padding-right: calc(var(--padding-percentage) + var(--min-padding)); /* 오른쪽 패딩을 부모 너비의 2% + 최소 20px */
}

.logo {
    position: absolute; /* 절대 위치로 설정 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 중앙 정렬 보정 */
    max-height: 70%; /* 로고의 최대 높이를 부모 높이의 65%로 설정 */
    max-width: 70%;  /* 로고의 최대 너비를 부모 너비의 65%로 설정 */
    margin-top: 4vh; /* 부모 요소 높이의 5%만큼 위쪽 마진 설정 */
    margin-bottom: 4vh; /* 부모 요소 높이의 약 27%만큼 아래쪽 마진 설정 */
}

/* 추가된 스타일: overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* 초기에는 표시되지 않음 */
    z-index: 1;
}

/* 추가된 스타일: sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: #FFF;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: transform 0.3s; /* 부드러운 애니메이션 */
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.sidebar.open {
    transform: translateX(0);
}

/* 사이드바 상단 스타일 */
.sidebar-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 10px 0; /* 상단 패딩 추가 */
}


/* 사이드바 로고 컨테이너 */
.sidebar-logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.sidebar-logo {
    width: 50px; /* 사이드바 로고의 크기를 별도로 설정 */
    margin-top: 20px; /* 로고 아래로 이동 */
}

.close-icon {
    position: absolute;
    left: 5px; /* 왼쪽 모서리에 위치 */
    cursor: pointer;
    font-size: 15px; /* 아이콘 크기 조정 */
    color: #454545;
    font-weight: lighter; /* 얇게 하기 위해 font-weight 설정 */
    line-height: 1; /* 아이콘 크기 조정 */
}

/* 추가된 스타일: 검색창 */
.sidebar .search-input {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-top: 20px; /* 검색창 아래로 이동 */
    margin-bottom: 0; /* 아래 마진 삭제 */
}

/* 추가된 스타일: 검색 결과 영역 */
.sidebar .search-results {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.contact-text {
    margin-top: 10px;
    text-align: center;
    font-family: 'NanumSquareLight'; /* light 폰트 스타일 */
    font-size: 12px;
}

.contact-text a {
    color: #FFD700; /* 진한 노란색 */
    text-decoration: underline;
    font-weight: bold;
}

/* 팝업 스타일 추가 */
.popup {
    position: fixed;
    top: 8.2%; /* 팝업 세로 길이를 늘리기 위해 위쪽에 조금만 띄움 */
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 400px;
    height: 80%; /* 세로 길이 늘림 */
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none; /* 초기에는 표시되지 않음 */
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto; /* 내용이 많을 때 스크롤 가능 */
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
    align-items: center;
}

.popup-logo {
    width: 80px; /* 팝업 로고의 크기 설정 */
}

.popup-content {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* 요소들을 가운데 정렬 */
}

.info_icon {
    height: 45%; /* Info 아이콘의 높이를 부모 높이의 20%로 설정 */
    margin-top: 3vh; /* 부모 요소 높이의 5%만큼 위쪽 마진 설정 */
    margin-bottom: 4vh; /* 부모 요소 높이의 약 27%만큼 아래쪽 마진 설정 */
}

.sidebar_icon {
    height: 40%; /* Sidebar 아이콘의 높이를 부모 높이의 15%로 설정 */
    margin-top: 2.5vh; /* 부모 요소 높이의 5%만큼 위쪽 마진 설정 */
    margin-bottom: 3.3vh; /* 부모 요소 높이의 약 22%만큼 아래쪽 마진 설정 */
}


/* 날씨 */

.weather_bar {
    height: 9vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect {
    width: 95%; /* 사각형의 너비를 부모 너비의 95%로 설정 */
    height: 95%; /* 사각형의 높이를 부모 높이의 95%로 설정 */
    background-color: #FEC943;
    border-radius: 10px; /* 둥근 모서리 설정 */
    margin-top: 0.5vh; /* 위쪽 마진 설정 */
    margin-bottom: 1vh; /* 아래쪽 마진 설정 */
    display: flex;
    justify-content: flex-end; /* 가로 방향 오른쪽 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    text-align: right; /* 기본 텍스트 정렬을 오른쪽으로 설정 */
}


.title {
    position: absolute; /* 절대 위치로 설정 */
    top: 1vh; /* 상단에서 10px 떨어진 위치 */
    left: 5vw; /* 왼쪽에서 10px 떨어진 위치 */
    font-size: 2.2vh;
}

.selector {
    position: absolute; /* 절대 위치로 설정 */
    top: 50%; /* 상단에서 50% 떨어진 위치 (부모의 중앙) */
    left: 50%; /* 왼쪽에서 50% 떨어진 위치 (부모의 중앙) */
    transform: translate(-50%, -50%); /* 중앙 정렬 보정 */
    background-color: transparent; /* 배경색 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-time {
    width: 90%; /* 원하는 너비 설정 */
    height: 70%; /* 원하는 높이 설정 */
    margin-top: 1vh; /* 위쪽 마진을 늘림 */
}


.time_display {
    position: relative; /* 자식 요소의 절대 위치 기준을 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: #FFFFFF;
    padding: 10px; /* 내부 패딩을 0px로 설정 */
}

.clock {
    display: flex;
    text-align: center;
    font-size: 2rem;
}

.day {
    margin-bottom: 20px;
}


.colon {
    animation: blink 1s steps(1) infinite;
    margin: 0 5px;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}


.selector-map {
    width: 90%; /* 원하는 너비 설정 */
    height: 90%; /* 원하는 높이 설정 */
    margin-top: 2vh; /* 위쪽 마진을 늘림 */
    margin-bottom: 2vh; /* 아래쪽 마진을 줄임 */
}

.map_section {
    position: relative; /* 자식 요소의 절대 위치 기준을 설정 */
    height: 47vh;
    background-color: #B1D6B3;
}

.my-svg {
    height: 100%; /* 부모 요소의 높이에 꽉 차게 설정 */
    width: auto; /* 비율을 유지하면서 너비를 자동으로 설정 */
}

.down_section {
    height: 14vh;
    background-color:transparent;
    display: flex; /* Flexbox 레이아웃을 사용 */
    align-items: flex-start; /* 자식 요소들을 세로 기준 위쪽에 정렬 */
}

.scroll {
	width: 3vh;
	height: 3vh;
	border: 0.1px solid #333;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 0.75vh;
		left: 0.9vh;
		width: 0.9vh;
		height: 0.9vh;
		border-left: 0.1px solid #333;
  	border-bottom: 0.1px solid #333;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}




.select_prompt {
    height: 9vh;
    background-color: transparent;
}

.select_prompt .rect.center-text {
    height: 5vh;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    font-size: 2.2vh; /* 글씨체 크기 설정 */
}

.algorithm_selection {
    height: 13vh;
    background-color: transparent;
}


.button-container {
    display: flex;
    gap: 20px;
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NanumSquareLight'; /* 글씨체를 NanumSquareLight로 설정 */
    font-weight: normal;
    color: #3C3D69; /* 글씨체 색상 설정 */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.button.selected {
    border-color: #C63B3B; /* 선택된 버튼의 붉은 테두리 색상 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 음영 효과 */
}

.label {
    margin-top: 10px;
    font-family: 'NanumSquareLight';
    font-weight: normal;
    font-size: 14px;
}

.button-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rest_area {
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: flex-end; /* 세로 방향 아래 정렬 */
    margin-bottom: 0; /* 아래쪽 마진을 줄임 */
    width: 100%; /* 부모 요소의 너비 */
    padding: 3px;

}

.box.algorithm_selection {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* 세로 방향 아래 정렬 */
    width: 100%; /* 부모 요소의 너비 */
    height: 100%; /* 부모 요소의 높이 */
}

.text-container {
    display: flex;
    gap: 20px;
    align-items: flex-end; /* 세로 방향 아래 정렬 */
}

.text-button {
    cursor: pointer;
    color: gray; /* 기본 색상을 회색으로 설정 */
    font-weight: normal;
    font-size: 8px;
    transition: color 0.3s, font-size 0.3s, transform 0.3s; /* 색상, 크기, 변환 변화에 대한 부드러운 전환 */
}

.text-button.selected {
    color: #3C3D69; /* 선택된 텍스트의 색상을 일반 색상으로 설정 */
    font-size: 18px; /* 선택된 텍스트의 폰트 크기를 더 크게 설정 */
    transform: scale(1.2); /* 확대 효과 추가 */
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dynamic_content {
    height: 20vh;
    background-color: #FFFFFF;
    color: black;
}

